.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	background: var(--surface-color);
	border-bottom: 1px solid var(--surface-border-color);
	transform: translateZ(0);
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 72px;
}

.controls {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.logo {
	height: 100%;
	width: 100%;
}

.nav ul {
	display: flex;
	gap: 1rem;
	list-style: none;
	padding: 0;
	margin: 0;
}

.homeLink {
	display: flex;
	align-items: center;
	justify-content: center;
}

.link {
	padding: 6px 12px;
	color: var(--muted-text-color);
	font-weight: 500;
	font-size: 13px;

	transition: color linear 0.2s;
}

.link:hover {
	color: var(--text-color);
}

.navTrigger {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

@media (max-width: 768px) {
	.controls {
		gap: 0.6rem;
	}

	.nav ul {
		gap: 0.6rem;
	}
}
