.footer {
	position: relative;
	z-index: 3;
	background: var(--surface-color);
	border-top: 1px solid var(--surface-border-color);
	padding: 20px;
	color: var(--text-color);
	margin-top: 50px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.logoLink {
	display: flex;
	align-items: center;
}

.logo {
	width: 100%;
	height: 100%;
}

.nav ul {
	display: flex;
	gap: 1.5rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

.link a {
	color: inherit;
	text-decoration: none;
	font-size: 0.875rem;
}

.link a:hover {
	text-decoration: underline;
}

.navTrigger {
	color: inherit;
	font-size: 0.875rem;
	line-height: 1;
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
	text-decoration: none;
}

.navTrigger:hover {
	text-decoration: underline;
}

.copy {
	font-size: 1rem;
	color: var(--muted-text-color);
	text-align: center;
}
